body, html {
    height: 100%;
}

body {
    /* The image used */
    background-image: url("/static/images/dessert.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    font-size: 25px;
}

.container {
    margin: 100px;
    color: #253547;
    background-color: #f5f8fa;
    margin: 50px auto;
    padding: 20px;
    opacity: 0.9;
    text-align: center;
    position: relative;
    border-radius: 10px;
    font-family: sans-serif;
    width: 80%;
    height: auto;
}

#box {
    margin: 10px;
    color: #253547;
    background-color: #f5f8fa;
    margin: auto;
    padding: 20px;
    opacity: 0.9;
    text-align: center;
    position: relative;
    border-radius: 10px;
    font-family: sans-serif;
    width: 20%;
    height: auto;
    font-size: 20px;
}

.up-next {
    color: #aa0513;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80px;
}

#submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    margin-top: 15px;
}

#team-purge {
    background-color: rgb(243, 10, 10); /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
}

 #team-input {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.data-container {
    opacity: 1;
    text-align: center;
}

.data-container img {
    max-width: 60%;
}