<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}">
    </head>

    <body>
        <div class="container">
            <h1>CFG Python 2018 Finale</h1>
            <h2>Who's presenting?</h2>

            <div class="hello" id="contact-form">

                {%if team%}
                    <div class="up-next">
                        <p>{{team}}</p>
                    </div>
                {%endif%}

                {%if not done%}
                    <form action="/shuffle">
                        <button id="submit-button">Shuffle</button>
                    </form>
                {%endif%}

                {%if done%}
                    <div class="all-done">
                        <h3>Congrats! You're finished!</h3>
                        <img src="/static/images/swift.gif">
                {%endif%}
            </div>
        </div>
    </body>

</html>